<div class="page">
  <div class="page-content">
    <div [class.borderActive]="currentBorder.value === 1" class="scroll">
      <div class="scroll_content">
        <span appInViewport (visible)="onVisibleScroll(1, $event)">Hello</span>
      </div>
    </div>
    <span>Счетчик: {{ counter() }}</span>
    <div [class.borderActive]="secondBorderVisible" class="scroll">
      <div class="scroll_content">
        <span appInViewport (visible)="onVisibleScroll(2, $event)">Hello</span>
      </div>
    </div>
  </div>
</div>
