<div class="page">
  <div class="page-content">
    <div [ngClass]="isFirstBorder() ? 'borderActive' : ''" class="scroll">
      <div class="scroll_content">
        <span appInViewport (visible)="onVisibleFirstScroll($event)">Hello</span>
      </div>
    </div>
    <span>Счетчик: {{ counter() }}</span>
    <div [ngClass]="isSecondBorder() ? 'borderActive' : ''" class="scroll">
      <div class="scroll_content">
        <span appInViewport (visible)="onVisibleSecondScroll($event)">Hello</span>
      </div>
    </div>
  </div>
</div>